doctype html
html
  head
    base(href="/")
  body
    a(href="test.html") test
    div: :md
      # Markdown Test
    style(type="text/css"): :stylus
      h1:after
        content: "stylus filter test"
        display: block
    script
      include ../../static/js/test.js
    script: :lsc
      document.body.appendChild(div = document.createElement("h2"))
      div.textContent = "livescript filter test"
    script(type="application/json"): :lson
      output: "lson test ok"
    div: :i18n
      i18n key filter
    div= i18n("i18n key")
    div= i18n("alternative:namespace-test")
