doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="css/index.css")
    script(type="text/javascript") window.module = undefined;
    script(type="text/javascript",src="assets/adobe/5.2.0/CSInterface.js")
    script(type="text/javascript",src="js/index.js")
  body
