if lib.jquery
  script(type="text/javascript") window.module = undefined;
  script(type="text/javascript",src="assets/jquery/1.10.2/jquery.min.js")
if lib.d3js
  script(type="text/javascript",src="assets/d3js/3.3.11/d3.v3.min.js")
if lib.angular
  script(type="text/javascript",src="assets/angular/1.2.3/angular.min.js")
if lib.bootstrap
  link(rel="stylesheet",type="text/css",href="assets/bootstrap/3.0.2/css/bootstrap.min.css")
  script(type="text/javascript",src="assets/bootstrap/3.0.2/js/bootstrap.min.js")
